#voteInputs input {
    width: 50px;
}

#whatToDo {
    padding-bottom: 10px;
}

#voteLabels {
    display: inline-block;
    text-align: right;
}

#voteInputs {
    display: inline-block;
    width: 27%;
}

#voteControls {
    padding: 20px;
    width: 40%;
    display: inline-block;
}

#submitVote {
}

#possibleVotes {
    width: 40%;
    display: inline-block;
}
