body {
    background-color: #590;
}

.header {
    width: 35%;
    margin: 0 auto;
}

#rightBar select {
    width: 100px;
}

#rightBar label {
    display: inline-block;
}

#rightBar .column {
    width: 120px;
    display: inline-block;
}

.networkControls label{
    vertical-align: sub;
}

#voteContainer video {
    width: 35%;
    display: none;
}

#recordingCircle {
    display: none;
    background: red;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.inputHeight {
    height: 20px;
    padding: 5px 0;
    margin-bottom: 10px;
}

.recordingControls input {
    width: 70px;
    padding: 0 10px;
}

.padding {
    margin: 20px 0;
}

.raised {
    vertical-align: super;
}

#voteInputs input {
    width: 50px;
}

#whatToDo {
    padding-bottom: 10px;
}

#voteLabels {
    display: inline-block;
    text-align: right;
}

#voteLabels div{
    vertical-align: super;
}

#voteInputs {
    display: inline-block;
}

#voteControls {
    padding: 20px;
    display: inline-block;
}

#submitVote {
}

#possibleVotes {
    width: 40%;
    display: inline-block;
}
