body {
    background-color: #590;
}

#rightBar select {
    width: 75px;
}

#voteContainer video {
    width: 35%;
    display: none;
}

#recordingCircle {
    display: none;
    background: red;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.inputHeight {
    height: 20px;
    padding: 5px 0;
    margin-bottom: 10px;
}

.recordingControls input {
    width: 140px;
}

.padding {
    margin: 10px 0;
}

#voteInputs input {
    width: 50px;
}

#whatToDo {
    padding-bottom: 10px;
}

#voteLabels {
    display: inline-block;
    text-align: right;
}

#voteInputs {
    display: inline-block;
}

#voteControls {
    padding: 20px;
    width: 30%;
    display: inline-block;
}

#submitVote {
}

#possibleVotes {
    width: 40%;
    display: inline-block;
}
